<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Thank you for your purchase</title>
    						{% for message in app.flashes('success') %}

</head>
<body>
    <h1>Thank you for your purchase!</h1>
    <p>Your payment has been processed successfully.</p>
    <li><a href="{{path('controller_name')}}">Accueil</a></li>
</body>
</html>
