<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Thank you for your purchase</title>
</head>
<body>
{% for message in app.flashes('successs') %}
    <p>{{ message }}</p>
{% endfor %}
    <p>Your payment has been processed successfully.</p>
    <p><a href="{{ path('app_main') }}">Accueil</a></p>
</body>
</html>
