<footer>
	<div>
		<p>Mentions Légales
			<br>
		</p>
		<p>CGU</p>
		<p>CGV</p>
	</div>

	<div>
		<h3>Plan du site
			<br>

		</div>

		<div>
			<p>Où nous trouver ?
				<br><br>
			</p>
			<p>9 Villa Edouard Vaillant , 91000 , Evry-Courcouronnes, France</p>
		</div>

		<div>
			<p>Contact</p>
			<p>Où nous trouver ?</p>
			<p>Paris</p>
		</div>

		<div>
			<a href="https://www.instagram.com/" target="_blank"><img class="img" src="{{ asset('images/instagram.png') }}" alt="" height="35">
			<img src="{{ asset('images/facebook.png') }}" alt="" height="35">
			<img src="{{ asset('images/linkedin.png') }}" alt="" height="35">
            <img src="{{ asset('images/tiktok.svg') }}" alt="" height="35">
		</div>
	</footer>
</div></body></html>
