<section class="header-section">
      <div class="container">
        <header class="navbar">
          <div class="logo">
            <img src="{{ asset("images/logo.png") }}" alt ="logo" />
          </div>
          <nav>
            <ul>
              <li><a href="">Accueil</a></li>
              <li><a href="">Produits</a></li>
              <li><a href="">Apropos</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </nav>
        </header>
        <div class="haut">
          <h1>RECHERCHEZ TOUT ICI : JUSTE AUSSI IZI!</h1>
        </div>
      </div>
    </section>